@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.eot");
    src: url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Bold.woff2") format("woff2"),
        url("fonts/Gilroy-Bold.woff") format("woff"),
        url("fonts/Gilroy-Bold.ttf") format("truetype"),
        url("fonts/Gilroy-Bold.svg#fonts/Gilroy-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Regular.eot");
    src: url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Regular.woff2") format("woff2"),
        url("fonts/Gilroy-Regular.woff") format("woff"),
        url("fonts/Gilroy-Regular.ttf") format("truetype"),
        url("fonts/Gilroy-Regular.svg#fonts/Gilroy-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Black.eot");
    src: url("fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Black.woff2") format("woff2"),
        url("fonts/Gilroy-Black.woff") format("woff"),
        url("fonts/Gilroy-Black.ttf") format("truetype"),
        url("fonts/Gilroy-Black.svg#fonts/Gilroy-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: "Gilroy", "Arial", "Verdana", sans-serif ;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #4b4b4b;
}

.Наши_требования_к_автомобилю:_от_2005_года_выпу {
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(75, 75, 75);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 195.687px;
  top: 4813.838px;
  width: 707px;
  height: 76px;
  z-index: 17;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#979797;}
::-moz-placeholder          {color:#979797;}
:-moz-placeholder           {color:#979797;}
:-ms-input-placeholder      {color:#979797;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-size: 97px;
    line-height: 98px;
    font-weight: normal;
    color: #131313;
}

h2 {
    font-size: 60px;
    line-height: 64px;
    font-weight: normal;
    color: #131313;
}

h3 {
    font-size: 30px;
    line-height: 37px;
    font-weight: normal;
    color: #4b4b4b;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #4b4b4b;
}

p {
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #4b4b4b;
}

a {
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #4b4b4b;
}

li {
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #4b4b4b;
}

ul li {
    position: relative;
    padding: 7px 0 7px 45px;
}

ul li:before {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #ff2424;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    left: 0;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .6;
    margin-top: -40px;
    background: #ffffff;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition-property: box-shadow, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
}

.slick-arrow img {
    display: block;
    width: 36px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: -21px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -21px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    margin: 30px 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 9px;
    line-height: 0 !important;
}

.slick-dots li:before {
    display: none;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 4px;
    cursor: pointer;
    background: #e3e3e3;
    position: relative;
    border: 2px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.slick-dots li.slick-active button {
    background: #354258;
}

/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_site {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.header_site .left {
    width: 60%;
    padding: 7px 10px 7px 0;
}

.header_site .right {
    width: 40%;
    overflow: hidden;
    padding: 7px 0 7px 10px;
}

.logo {
    display: inline-flex;
    display: -webkit-inline-flex;
    max-width: 600px;
}

.logo > div:nth-child(1) {
    width: 100px;
}

.logo > div:nth-child(2) {
    width: calc(100% - 100px);
    padding: 28px 0 0 25px;
}

.logo > div:nth-child(1) img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.logo p {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    color: #ffffff;
}

.inline_blocks {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 6px -15px;
}

.inline_blocks > div {
    padding: 10px 15px;
}

.tel_link {
    font-size: 20px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link:link,
.tel_link:visited {
    color: #ffffff;
}

.tel_link:active,
.tel_link.active {
    color: #ff2424;
}

.tel_link:hover {
    color: #ff2424;
}

.red_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 222px;
    padding: 20px 20px 21px 20px;
    background: #ff2424;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 900;
    color: #ffffff;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.red_pill:link,
.red_pill:visited {
    background: #ff2424;
}

.red_pill:active,
.red_pill.active {
    background: #fdc600;
}

.red_pill:hover {
    background: #fdc600;
}

.yellow_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 222px;
    padding: 20px 20px 21px 20px;
    background: #fdc600;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 900;
    color: #212121;
    -webkit-transition-property: background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow_pill:link,
.yellow_pill:visited {
    background: #fdc600;
    color: #212121;
}

.yellow_pill:active,
.yellow_pill.active {    
    background: #ff2424;
    color: #ffffff;
}

.yellow_pill:hover {
    background: #ff2424;
    color: #ffffff;
}

.resp_call {
    /*display: block;*/
    display: none;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
}

.phore_red {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    background-image: url(img/tell.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 --*/

.promo_sect {
    background-image: url(img/promo_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0 20px 0;
}

.promo_sect:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}

.promo_sect > .row {
    position: relative;
    z-index: 2;
}

.promo_descript {
    padding: 119px 0 51px 0;
}

.promo_descript h1 {
    padding: 30px 0;
    color: #ffffff;
    letter-spacing: 4px;
    position: relative;
    z-index: 2;
}

.h1_wrapp {
    max-width: 1295px;
    position: relative;
}

.h1_wrapp:after {
    display: block;
    content: "";
    width: 100px;
    height: 166px;
    background-image: url(img/h_shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 44px;
    right: 0;
}

.promo_descript p {
    padding: 30px 0;
    font-size: 23px;
    line-height: 36px;
    font-weight: normal;
    color: #fff;
}

.promo_descript .yellow_pill {
    margin: 124px 0 20px 0;
}

.resp_slider {
    display: none !important;
    margin-top: 108px;
}

.resp_slider .slide {
    text-align: center;
}

.resp_slider .slide p {
    padding: 7px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    color: #fff;
}

.resp_slider .slick-dots {
    margin: 23px 0;
}

.resp_slider .slick-dots li button {
    background-color: #c8cdd6;
    opacity: .4;
}

.resp_slider .slick-dots li.slick-active button {
    opacity: 1;
}

/*-- /Section 1 --*/

/*-- Section 2 --*/

.sect_2 {
    padding: 71px 0 15px 0;
}

.h2_wrapp {
    padding: 20px 0;
}

.article {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /*align-items: center;*/
    /*-webkit-align-items: center;*/
    margin: 30px 0;
}

.article .left {
    width: 50%;
    padding: 15px 15px 15px 0;
    order: 1;
}

.article .right {
    width: 50%;
    padding: 15px 0 15px 15px;
    order: 2;
}

.article h3 {
    padding: 7px 0 15px 0;
}

.article p {
    padding: 15px 0;
}

.article ul {
    padding: 17px 0;
}

.article ul li {
    font-size: 20px;
    line-height: 30px;
}

.article_img {
    position: relative;
}

.article_img_1:before {
    display: block;
    content: "";
    width: 101px;
    height: 166px;
    background-image: url(img/article_1_shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 23px;
    left: -30px;
    z-index: 2;
}

.article_img .img_box {
    overflow: hidden;
    position: relative;
}

.article .img_box img {
    display: block;
    width: 100%;
    height: auto;
}

/*-- /Section 2 --*/

/*-- Section 3 --*/

.sect_3 {
    padding-bottom: 23px;
}

.h2_wrapp_2 {
    max-width: 1294px;
    margin: 0 auto;
    text-align: center;
}

.h2_wrapp_2 h2 {
    padding: 19px 0;
}

.h2_wrapp_2 p {
    font-size: 25px;
    line-height: 42px;
    color: #131313;
    padding: 11px 0;
}

.thumbnails_1 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 19px -15px;
}

.thumb_1 {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    background-color: #ede1c5;
    width: calc(33.33% - 30px);
    margin: 15px;
    padding: 15px 30px;
    min-height: 177px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_1 > div:nth-child(1) {
    width: 115px;
}

.thumb_1 > div:nth-child(2) {
    width: calc(100% - 115px);
    padding: 4px 0 0 10px;
}

.thumb_1 > div img {
    display: block;
    width: auto;
    max-width: 100px;
    height: auto;
}

.thumb_1 > div img.visible {
    display: block;
}

.thumb_1 > div img.hover {
    display: none;
}

.thumb_1:hover > div img.visible {
    display: none;
}

.thumb_1:hover > div img.hover {
    display: block;
}

.thumb_1 p {
    font-size: 18px;
    line-height: 30px;
    color: #4b4b4b;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_1:hover {
    background: #354258;
}

.thumb_1:hover p {
    color: #ffffff;
}

/*-- /Section 3 --*/

/*-- Section 4 --*/

.calc_wrapp {
    display: flex;
    display: -webkit-flex;
    margin: 36px 0 68px 0;
    position: relative;
}

.calc_wrapp:after {
    display: block;
    content: "";
    width: 99px;
    height: 166px;
    background-image: url(img/calc_shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 22px;
    right: -27px;
}

.calc_wrapp .left {
    width: 50%;
    padding: 76px 5% 41px 5%;
    background-color: #354258;
}

.calc_wrapp .right {
    width: 50%;
    background-color: #c2c2c2;
    position: relative;
}

.calc_inputs {

}

.input_wrapp {
    margin: 24px 0;
}

.input_wrapp input {
    display: block;
    width: 100%;
    padding: 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 63px;
    font-size: 15px;
    line-height: 62px;
    font-weight: normal;
    color: #979797;
}

.two_cols {
    display: flex;
    display: -webkit-flex;
    margin: 38px 0;
}

.two_cols > div:nth-child(1) {
    width: 57%;
    padding: 10px 10px 10px 0;
}

.two_cols > div:nth-child(2) {
    width: 43%;
    padding: 10px 0 10px 10px;
}

.two_cols p {
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
}

p.price {
    font-size: 21px;
    line-height: 64px;
    color: #fdc600;
}

p .price_val {
    margin-right: 20px;
    font-size: 60px;
}

.calc_wrapp .right .img_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.calc_wrapp .right .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 4 --*/

/*-- Section 5 --*/

.article_wrapp:nth-child(1) {
    padding-top: 0;
}

.article_wrapp {
    padding: 16px 0;
}

.article.even {

}

.article.even .left {
    order: 2;
    padding: 15px 0 15px 15px;
}

.article.even .right {
    order: 1;
    padding: 15px 30px 15px 0;
}

/*-- /Section 5 --*/

/*-- Section 6 --*/

#map {
    height: 635px;
    margin: 52px 0 22px 0;
}

p.p_red {
    color: #ff2424;
}

/*-- /Section 6 --*/

/*-- Section 7 --*/

.sect_7 {
    padding: 34px 0 10px 0;
}

.info_box {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 23px 0 33px 0;
}

.info_box .col {
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.info_box .col_top {

}

.info_box .col_top_1 {

}

.info_box .col_top_2 {

}

.info_box .col_bottom {

}

.info_box .col_bottom_1 {
    position: relative;
}

.info_box .col_bottom_2 {

}

.info_box .col_bottom_1:after {
    display: block;
    content: "";
    width: 101px;
    height: 166px;
    background-image: url(img/article_1_shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 37px;
    left: -30px;
}

.yellow_pill {
    font-family: "Gilroy";
}

.thumbnails_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 0 0 -15px;
}

.thumb_2 {
    min-height: 255px;
    padding: 14px 10px 10px 10px;
    background-color: #354258;
}

.thumb_2_col_1 {
    width: 150px;
}

.thumb_2_col_2 {
    width: calc(100% - 150px);
    padding: 13px 0 10px 15px;
}

.thumb_2_col_1 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    height: auto;
}

.thumb_2 p {
    font-size: 29px;
    line-height: 40px;
    color: #ffffff;
}

.thumbnails_2 .thumb_2:nth-child(1) {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 20px 23% 20px 23%;
}

.thumbnails_2 .thumb_2:nth-child(2) {
    width: calc(33.33% - 30px);
    margin: 15px;
    background: #ccb995;
}

.thumbnails_2 .thumb_2:nth-child(3) {
    width: calc(33.33% - 30px);
    margin: 15px;
    background: #e0cfa8;
}

.thumbnails_2 .thumb_2:nth-child(4) {
    width: calc(33.33% - 30px);
    margin: 15px;
    background: #ede1c5;
}

.thumb_2 .descript {
    min-height: 101px;
}

.thumb_2 .descript p {
    color: #4b4b4b;
}

.thumb_2 .icon_box {
    height: 120px;
    position: relative;
}

.thumb_2 .icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_3 {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    min-height: 540px;
    padding: 10px 80px;
    margin: 15px 0 15px 15px;
    position: relative;
    overflow: hidden;
}

.thumb_3:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(53, 66, 88, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.thumb_3 img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_3 .descript {
    width: 100%;
    max-width: 420px;
    position: relative;
    z-index: 3;
}

.thumb_3 .descript h3 {
    padding: 22px 0;
    font-size: 40px;
    line-height: 42px;
    color: #fff;
}

.thumb_3 .descript p {
    padding: 22px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
}

.info_box .col_bottom_1 {
    /*width: 50%;*/
    width: 49%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 15px 0;
}

.info_box .col_bottom_2 {
    width: 51%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 15px 0;
}

.info_box .col_bottom_1 .img_box {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.info_box .col_bottom_1 .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form_wrapp {
    height: 100%;
    padding: 57px 13% 4px 13%;
    background-color: #354258;
}

.form_wrapp h3 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}

.form_wrapp form {
    margin: 50px 0;
}

.submit_wrapp {
    text-align: center;
    padding: 1px 0;
}

/*-- /Section 7 --*/

/*-- Section 8 --*/

.slider_1_wrapp {
    padding: 31px 0 50px 0;
}

.slider_1 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -15px;
}

.slider_1 .slide {
    width: calc(33.33% - 30px);
    padding: 15px;
}

.slider_1 .img_box_wrapp {
    display: block;
    width: 100%;
    height: 305px;
    position: relative;
    overflow: hidden;
}

.slider_1 .img_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 2s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 2s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.slider_1 .img_box_wrapp:hover .img_box {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.slider_1 .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 8 --*/

/*-- Section 9 --*/

.slider_2_wrapp {
    padding: 59px 0 26px 0;
}

.slider_2 {

}

.slider_2 .slick-dots {
    margin-top: 52px;
}

.slider_2 .slide {

}

.testimonial {
    display: flex;
    display: -webkit-flex;
    background-image: url(img/testimonial_shape.png);
    background-repeat: no-repeat;
    background-position: right 11px;
}

.testimonial .col_1 {
    width: 510px;
    padding-right: 10px;
}

.testimonial .col_2 {
    width: calc(100% - 510px);
    padding-left: 25px;
}

.photo_box {
    max-width: 485px;
    height: 450px;
    overflow: hidden;
    position: relative;
    background-color: #b4b4b4;
}

.photo_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.yellow_box {
    display: inline-block;
    vertical-align: top;
    background-color: #fdc600;
    margin-bottom: 17px;
    padding: 10px 25px;
}

.yellow_box p {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.item_text {
    padding: 5px 0;   
}

.before_item {

}

.before_item h3 {
    padding: 17px 0;
    font-size: 60px;
    line-height: 64px;
    color: #979797;
}

.item_text p {
    padding: 17px 0;
    font-size: 20px;
    line-height: 30px;
    color: #4b4b4b;
}

.after_item {

}

.after_item h3 {
    padding: 17px 0;
    font-size: 60px;
    line-height: 64px;
    color: #ff2424;
}

/*-- /Section 9 --*/

/*-- Section 10 --*/

.sect_10 {
    padding-bottom: 34px;
}

.accordeon {
    margin-top: 59px;
}

.accordeon_item {
    margin: 20px 0;
    padding-bottom: 17px;
    background-color: #e0cfa8;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.accordeon_item:nth-child(2) {
    background-color: #ede1c5;
}

.accordeon_item:nth-child(3) {
    background-color: #f6f0e1;
}

.accordeon_item:nth-child(4) {
    background-color: #f6f0e1;
}

.accordeon_item:nth-child(5) {
    background-color: #fcf8ed;
}

.accordeon_item.active {
    background-color: #354258;
}

.accordeon_item_title {
    padding: 37px 55px 23px 55px;
    cursor: pointer;
    position: relative;
}

.accordeon_item_title:after {
    display: block;
    content: "\2212";
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: #ffdc5c;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 38px;
    right: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
}

.accordeon_item.active > .accordeon_item_title:after {
    content: "\2b";
}

.accordeon_item .accordeon_item_title h3 {
    font-size: 30px;
    line-height: 30px;
    color: #4b4b4b;
}

.accordeon_item.active .accordeon_item_title h3 {
    color: #ffffff;
}

.accordeon_item_descript {
    display: none;
    padding: 0 55px 20px 55px;
}

.accordeon_item_descript p {
    font-size: 20px;
    line-height: 30px;
    color: #4b4b4b;
}

.accordeon_item.active .accordeon_item_descript p {
    color: #ffffff;
}

.btn_wrapp {
    padding: 28px 0;
    text-align: center;
}

.btn_wrapp .yellow_pill {
    min-width: 340px;
}

/*-- /Section 10 --*/

/*-- Section 11 --*/

.sect_11 {
    padding-bottom: 56px;
}

.slider_3_wrapp {
    position: relative;
}

.slider_3_wrapp:before {
    content: "";
    width: 237px;
    height: 390px;
    background-image: url(img/slider_shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 283px;
    right: -60px;
}

.slider_3 {
    margin: 27px -15px 15px -15px;
}

.slider_3 .slide {
    padding: 15px;
}

.video_thumb {
    display: block;
    height: 440px;
    max-width: 750px;
    position: relative;
    overflow: hidden;
}

.video_thumb:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.video_thumb:after {
    display: block;
    content: "";
    width: 127px;
    height: 94px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/youtube.png);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.slider_3 .slide .video_thumb {

}

.video_thumb .img_box {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 2s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 2s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.video_thumb:hover .img_box {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.video_thumb .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider_3_footer {
    position: relative;
    text-align: center;
    padding: 20px 460px;
}

.slider_3_foote .yellow_pill {

}

.slider_3_controls {
    position: absolute;
    top: 6px;
    right: -9px;
}

/*-- /Section 11 --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}

.footer {
    background-color: #fcf8ed;
}

.footer_templ {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 2px 0;
}

.footer_templ .col {
    width: 33.33%;
}

.footer_templ .col:nth-child(1) {
    padding: 10px 10px 10px 0;
}

.footer_templ .col:nth-child(2) {
    padding: 10px 10px;
    text-align: center;
}

.footer_templ .col:nth-child(3) {
    padding: 10px 0 10px 10px;
    text-align: right;
}

.footer p,
.footer li,
.footer li a {
    font-size: 14px;
    line-height: 24px;
    color: #7d7d7d;
}

.inline_p {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -17px;
}

.inline_p p {

    padding: 0 17px;
    font-size: 14px;
    line-height: 24px;
    color: #7d7d7d;
}

.footer_contacts {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 0 -12px;
}

.footer_contacts li {
    padding: 0 12px;
}

.footer_contacts li a {
    font-size: 14px;
    line-height: 24px;
    color: #7d7d7d;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.footer_contacts li a:link,
.footer_contacts li a:visited {
    color: #7d7d7d;
}

.footer_contacts li a:active,
.footer_contacts li a.active {    
    color: #ff0000;
}

.footer_contacts li a:hover {
    color: #ff0000;
}


/*-- Popup --*/

body.fixed {
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
}

.popup {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.popup_bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 4;
}

.close_popup {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: url(img/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.popup_content {
    max-width: 600px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #354258;
    margin: 50px auto 20px auto;
    padding: 50px 30px;
    position: relative;
    z-index: 2;
}

.popup_content h3 {
    text-align: center;
    color: #ffffff;
}

.popup_content .close_popup {
    position: absolute;
    top: 10px;
    right: 20px;
}

/*-- /Popup  --*/